body {
    background-color: lightgray;
}

h1 {
  color: white;
  font-weight: lighter;
  background-color: navy;
  border: 2px solid white;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
}

p {
  box-sizing: border-box;
  padding: 50px;
  color: white;
  background-color: rgb(118, 118, 153);
  border: 2px solid white;
}

ul {
  padding: 50px 100px;
}

img {
  max-width: 500px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 100px;
}
h2 {
  box-sizing: border-box;s
  margin: 0 auto;
  text-align: center;
}

.firstlist {
    position: relative;
}